<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{base::layout(~{::section})}"
>
  <head>
    <meta charset="UTF-8" />
    <title>Payment</title>
  </head>
  <body>
    <section>
      <div class="container text-center mt-5">
        <h2>Scan QR to Pay</h2>
        <p>Use any UPI app to scan and complete your payment</p>
        <img
          th:src="@{/product_img/QR_scanner.jpg}"
          alt="QR Code"
          width="250"
          height="250"
        />
        <form th:action="@{/}" method="get" class="mt-4">
        <button type="submit" class="btn btn-success">Proceed Payment</button>
      </form>
      </div>
    </section>
  </body>
</html>
